@charset "utf-8";
/* CSS Document */


.main 
	{background-color:white;
	margin: 0em 5em;}
p { margin : 3em 3em; 
	padding : 5px 5px;
	background-color: white;}
body {background-color:#9A064F;
		}
.navbar {background-color:#9A064F;
		color: white;}
.navbar-default .navbar-nav>li>a {color: white;}
.navbar-default .navbar-nav>.active>a{color: black;}
	
